= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
  = f.text_field :name, autofocus: true, placeholder: '名前'
  = f.text_area :bio, placeholder: '自己紹介'
  = f.file_field :avatar
  = f.submit "更新する"
