= Gon::Base.render_data

= render 'commons/header'

.container--gray
  .mypage
    .mypage__profile.mypage__item
      = image_tag @profile.avatar, size: "200x200", class:'mypage__avatar'
      %p.mypage__name= @profile.name
      %p.mypage__bio= @profile.bio
      .mypage__link-container
        = link_to 'プロフィールを編集する', edit_profile_path, class: 'mypage__link'
    .mypage__result.mypage__item
      .mypage__result-item
        %p= "今日:#{task_time_today}分"
        %p= "前日比:#{yesterday_time_change}分"
        %p= "週:#{task_time_week}分"
        %p= "月:#{task_time_month}分"
        %p= "合計:#{task_time_all}分"
      .mypage__chatrt{style: "width: 550px;" "margin: 0 auto"}
        %canvas#acquisitions


= javascript_pack_tag 'chart'