= link_to '記録する', new_task_path

- @tasks.each do |task|
  = link_to '編集', edit_task_path(task)
  = link_to '削除', task_path(task), method: :delete, data: { confirm: "本当に削除してもいいですか？" }
  %p= task.title
  %p= task.date
  %p= task.time
  - if task.memo.present?
    %p= task.memo